<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werse词境 学习</title>
    <script src="js/jquery-3.7.0.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <link rel="icon" href="image/logo-white.png">
    <link rel="stylesheet" href="css/public/main.css">
    <link rel="stylesheet" href="css/top-nav.css">
    <link rel="stylesheet" href="css/index_01.css">
</head>
<body>
<!-- 顶部导航栏，三个元素 -->
<div class="top-nav">
    <div class="index-logo">
        <a href="homePage" class="index_logo_a">
            <img class="logo_img" src="image/topnav/topnavlogo.png" alt="Werse">
            <h2 class="logo_h2_e">e</h2>
            <h2 class="logo_h2_r">r</h2>
            <h2 class="logo_h2_s">s</h2>
            <h2 class="logo_h2_e1">e</h2>
        </a>
    </div>
    <div class="nav-content">
        <a href="homePage"><span>首页</span></a>
        <a href="studyPage"
           style="color: #00e57b;box-sizing: border-box;border-top: 3px #00e57b solid;"><span>学习</span></a>
        <a><span>查</span><span>-</span><span>译</span></a>
        <div class="cha_yi_div">
            <a href="searchWordPage">查词</a>
            <a href="translatePage">翻译</a>
        </div>
        <a href="wersebotPage"><span>WerseBot</span></a>
        <a href="dataPage"><span>数据</span></a>
    </div>
    <div class="more-nav">
        <div class="message_nav">
            <img src="image/topnav/messagelogo_white.png" alt="">
            <h3>消息</h3>
        </div>
    </div>
</div>
<!--通知-->
<div id="notification" class="public_notification_div">
    <div class="public_notification_title">
        <div v-if="no_type==='error'" class="notification_item_tittle">
            <img :src="spantype.error.src">
            <span>{{spantype.error.value}}</span>
        </div>
        <div v-if="no_type==='message'" class="notification_item_tittle">
            <img :src="spantype.message.src">
            <span>{{spantype.message.value}}</span>
        </div>
        <div v-if="no_type==='warn'" class="notification_item_tittle">
            <img :src="spantype.warn.src">
            <span>{{spantype.warn.value}}</span>
        </div>
        <div v-if="no_type==='success'" class="notification_item_tittle">
            <img :src="spantype.success.src">
            <span>{{spantype.success.value}}</span>
        </div>
    </div>
    <div class="public_notification_content">{{no_content}}</div>
</div>
<!--内容-->
<div class="content-body">
    <div class="content-div" id="studyApp">
        <div class="study_rate_div">
            <span>1</span>
            <span>3</span>
        </div>
        <div class="study_content_div">



        </div>
    </div>
</div>

<script>
    const studyApp = new Vue({
        el: '#studyApp',
        data: {
            studyFinished: false,   //是否还有单词未学习，显示记单词还是已经打卡页面
        },
        methods: {}
    })
    const NotificationVue = new Vue({
        el: "#notification",
        data: {
            no_content: '',
            no_type: '',   //error，message消息，warn警告,success成功
            timer: null,
            spantype: {
                error: {
                    value: '失败',
                    src: 'image/public_notification/error.png'
                },
                message: {
                    value: '消息',
                    src: 'image/public_notification/message.png'
                },
                success: {
                    value: '成功',
                    src: 'image/public_notification/success.png'
                },
                warn: {
                    value: '警告',
                    src: 'image/public_notification/warn.png'
                },
            }
        },
        methods: {
            showPublicNotification(type, content) {
                if (this.timer) { //计时器已经存在则销毁
                    clearTimeout(this.timer)
                    this.timer = null
                }
                const id = document.getElementById("notification")
                id.style.right = "30px";
                this.no_content = content
                this.no_type = type
                this.timer = setTimeout(() => {
                    this.no_content = ''
                    this.no_type = ''
                    id.style.right = "-300px"
                }, 3000)
            }
        },
    })
</script>

</body>
</html>