<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Werse词境 单词详情</title>
    <script src="js/echarts.min.js"></script>
    <script src="js/jquery-3.7.0.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <link rel="icon" href="image/logo-white.png">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/public/element-ui@2.15.14-index.css">
    <link rel="stylesheet" href="css/top-nav.css">
    <link rel="stylesheet" href="css/public/main.css">
    <link rel="stylesheet" href="css/wordDetail.css">
    <style>
        /*弹出框动效*/
        .MessageBoxBorderFrames {
            animation: MessageBoxBorderFrames 0.3s linear;
        }

        .switch_btn_active {
            background-color: #00e57b;
            color: black;
        }

        .switch_btn {
            cursor: pointer;
            padding: 4px;
            font-size: 0.9em;
            font-weight: 800;
            border: 2px solid #00e57b;
            border-radius: 5px;
            width: 50%;
            height: 100%;
        }

        .sort_span {
            cursor: pointer;
            margin-left: 5px;
            border-radius: 4px;
            padding: 4px;
            width: auto;
            font-size: 0.9em;
            font-weight: 800;
            background-color: #a1a1a1;
            color: #000000;
        }

        .sort_span_focus {
            background-color: var(--greenColor00e57b);
        }
    </style>
</head>
<body>
<!--通知div-->
<div id="notification" class="public_notification_div">
    <div class="public_notification_title">
        <div v-if="no_type==='error'" class="notification_item_tittle">
            <img :src="spantype.error.src">
            <span>{{spantype.error.value}}</span>
        </div>
        <div v-if="no_type==='message'" class="notification_item_tittle">
            <img :src="spantype.message.src">
            <span>{{spantype.message.value}}</span>
        </div>
        <div v-if="no_type==='warn'" class="notification_item_tittle">
            <img :src="spantype.warn.src">
            <span>{{spantype.warn.value}}</span>
        </div>
        <div v-if="no_type==='success'" class="notification_item_tittle">
            <img :src="spantype.success.src">
            <span>{{spantype.success.value}}</span>
        </div>
    </div>
    <div class="public_notification_content">{{no_content}}</div>
</div>
<!--顶部导航栏-->
<div class="top-nav">
    <div class="index-logo">
        <a href="homePage" class="index_logo_a">
            <img class="logo_img" src="image/topnav/topnavlogo.png" alt="Werse">
            <h2 class="logo_h2_e">e</h2>
            <h2 class="logo_h2_r">r</h2>
            <h2 class="logo_h2_s">s</h2>
            <h2 class="logo_h2_e1">e</h2>
        </a>
    </div>
    <div class="nav-content">
        <a href="homePage"><span>首页</span></a>
        <a href="studyPage"><span>学习</span></a>
        <a style="color: whitesmoke;box-sizing: border-box;border-top: 3px #00e57b solid;"><span
                style="color: #00e57b">查</span><span>-</span><span>译</span></a>
        <div class="cha_yi_div">
            <a href="searchWordPage">查词</a>
            <a href="translatePage">翻译</a>
        </div>
        <a href="wersebotPage"><span>WerseBot</span></a>
        <a href="dataPage"><span>数据</span></a>
    </div>
    <div class="more-nav">

    </div>
</div>
<!--弹窗-->
<div @touchmove.prevent="false" id="MessageBoxContent" class="MessageBoxDiv" @click="tipEffection">
    <div id="messageBox" class="MessageBox" :class="{'MessageBoxBorderFrames':borderFramesValue}"
         @animationend="tipEffectionEnd">
        <div class="MessageBoxContent">{{messageBoxQuestion}}</div>
        <div class="MessageBoxController">
            <span @click.stop="messageBoxConfirmBtn(true)">确认</span>
            <span @click.stop="messageBoxConfirmBtn(false)">取消</span>
        </div>
    </div>
</div>
<div style="width: 100%" id="wordDetailApp">
    <!--例句控制-->
    <div v-if="control_example_div_state" class="control_example_div">
        <div class="control_example_content_div">
            <div class="tittle_sort_div">
                <div class="tittle_div">
                    <span class="tittle_span">{{word.spelling}}</span>
                    <span @click="controlExampleBtn" class="close_div_btn"></span>
                </div>
                <div class="sort_div">
                    <!--显示例句时渲染-->
                    <span class="sort_span sort_span_focus" id="heat_span"
                          @click="sortFun(1)"
                          v-show="updateStatus==0">{{heatSortState ? '热度最低在前&#8663;' : '热度最高在前&#8664;'}}</span>
                    <!--显示例句时渲染-->
                    <span class="sort_span" id="date_span"
                          @click="sortFun(2)"
                          v-show="updateStatus==0">{{dateSortState ? '时间最远在前&#8663;' : '时间最近在前&#8664;'}}</span>
                    <!--显示例句时渲染-->
                    <span class="backOradd" v-show="updateStatus==0" @click="addExampleBtn()">添加例句</span>
                    <!--添加与编辑时渲染-->
                    <span class="backOradd" v-show="updateStatus!=0" @click="allExampleBtn()">返回</span>
                    <!--添加时渲染-->
                    <span class="backOradd" v-show="updateStatus==1" @click="addExample(word.wordid)">确认添加</span>
                    <!--编辑时渲染-->
                    <span class="backOradd" v-show="updateStatus==2" @click="editExample(word.wordid)">确认编辑</span>
                </div>
            </div>
            <!--显示页面-->
            <div v-show="allOrUpdateStatus" class="all_example_list">
                <div v-if="cardExampleList.length==0"
                     style="width: 100%;height: 100%;display:flex;justify-content: center;">
                    <span style="margin: auto;color: whitesmoke;font-weight: 700">这里空空如也。这个单词还没有例句！</span>
                </div>
                <div v-for="(item,index) in cardExampleList" class="all_example_item">
                    <div class="example_text">{{item.en}}</div>
                    <div class="example_text">{{item.cn}}</div>
                    <div class="example_info">
                        <span @click="heatBtn(item.exapid)" class="example_heat"><img
                                src="image/pageWordDetail/heat_span.png">{{item.heat}}</span>
                        <div v-if="userid==item.holderid" class="user_operation_div">
                            <span @click="deleteExampleOrNot(item.exapid)">删除</span>
                            &nbsp;&nbsp;
                            <span @click="editExampleBtn(item.exapid,item.en,item.cn)">编辑</span>
                        </div>
                        <span class="example_holder">由{{item.holder == null ? "*已注销用户*" : item.holder}}在<span
                                class="example_adddate">{{item.adddate}}</span>添加</span>
                    </div>
                </div>
            </div>
            <!--添加页面-->
            <div v-show="!allOrUpdateStatus" class="add_example_list">
                <div>英文例句 {{en.length}}/200</div>
                <textarea maxlength="200" v-model="en" name="en" type="text" class="add_textarea"
                          placeholder="此处输入英文例句"></textarea>
                <div>中文翻译 {{cn.length}}/200</div>
                <textarea maxlength="200" v-model="cn" cn name="cn" type="text" class="add_textarea"
                          placeholder="此处输入中文翻译"></textarea>
            </div>
        </div>
    </div>
    <!--自定义书籍卡-->
    <div v-if="control_userbook_div_state" class="control_example_div">
        <div class="control_example_content_div">
            <!--标题-->
            <div class="tittle_sort_div">
                <div class="tittle_div">
                    <span v-show="all_add_detail_userbook==0" class="tittle_span">我的词库</span>
                    <span v-show="all_add_detail_userbook==1" class="tittle_span">新建词库</span>
                    <span v-show="all_add_detail_userbook==2"
                          class="tittle_span">{{theUserBookDetail.userbookname}}</span>
                    <span @click="controlUserBookBtn" class="close_div_btn"></span>
                </div>

                <div class="sort_div">
                    <!--显示例句时渲染-->
                    <span class="backOradd" @click="addUserbookBtn"
                          v-show="all_add_detail_userbook==0">新建词库</span>
                    <span class="backOradd" @click="userBookBackBtn" v-show="all_add_detail_userbook!==0">返回</span>
                    <span class="backOradd" @click="addUserBookConfirmBtn"
                          v-show="all_add_detail_userbook==1">确认添加</span>
                </div>
            </div>
            <!--我的所有词库-->
            <div v-if="all_add_detail_userbook==0" class="all_example_list">
                <div v-if="alMyUserBooks.length==0"
                     style="width: 100%;height: 100%;display:flex;justify-content: center;">
                    <span style="margin: auto;color: whitesmoke;font-weight: 700">这里空空如也。你还没有任何词库！</span>
                </div>
                <div v-else v-for="(item,index) in alMyUserBooks" class="userBookItemDiv"
                     @click="theUserBookDetailBtn(item.userbookid)">
                    <div class="userBookNameDiv">
                        <span class="userBookNameDiv_child1"></span>
                        <span class="userBookNameDiv_child2">{{item.userbookname}}</span>
                    </div>
                    <span class="addTheWordToCikuBtn"
                          @click.stop="addWordToUserBookBtn(item.userbookid)">加入该词库</span>
                </div>
            </div>
            <!--添加云词库-->
            <div v-if="all_add_detail_userbook==1" class="all_example_list">
                <div class="addUserBookDiv">
                    <label>词库名称&nbsp;</label> <input v-model="userbookname" maxlength="20" type="text"
                                                         placeholder="词库名称(必须向)">
                </div>
                <div class="addUserBookDiv_jianjie">
                    <label>词库简介&nbsp;</label>
                    <textarea v-model="bookdescribe" placeholder="词库简介(非必须向)" maxlength="50"></textarea>
                </div>
                <div class="double_switch_div">
                    <label>词库属性&nbsp;</label>
                    <div class="double_switch_div_btn">
                        <span class="switch_btn switch_btn_active" id="switchBtnStatus_0"
                              @click="switchBtn(0)">私密</span>
                        <span class="switch_btn" id="switchBtnStatus_1" @click="switchBtn(1)">公开</span>
                    </div>
                </div>
            </div>
            <!--词库详情-->
            <div v-if="all_add_detail_userbook==2" class="the_book_all_words_div">
                <div v-show="all_add_detail_userbook==2" class="userbook_detail_tittle_div">
                    <div>简介:{{theUserBookDetail.bookdescribe}}</div>
                    <div>属性:{{theUserBookDetail.share == 0 ? "私密词库" : "公开词库" }}</div>
                </div>
                <div class="all_words_div">
                    <div @click="theWordDetail(item.wordid)" v-for="(item,index) in theUserBookOfAllWords">
                        <span class="all_words_div_item_span">{{item.word.spelling}}</span>
                        <span @click.stop="deleteTheWordFormUserBookBtn(item.wordid,item.bookid)" class="word_item_span"
                              style="width: 20px;height: 20px">&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="content-div">
            <div class="wordDetailDivCon">
                <div class="backBtn" @click="backBtn()">返回</div>
                <div class="topControlDiv">
                    <span v-if="studyWord.length===0" class="add_word_plan_span"
                          @click="studyWordPlanningBtn(0)">加入学习计划</span>
                    <span v-else class="add_word_plan_span" @click="studyWordPlanningBtn(1)">移出学习计划</span>
                    <span v-if="studyWord.length!==0&&studyWord.state===0" class="add_word_plan_span"
                          @click="alreadyKnownBtn(1)">标记熟知</span>
                    <span v-else-if="studyWord.length!==0&&studyWord.state===1" class="add_word_plan_span"
                          @click="alreadyKnownBtn(0)">移出熟知</span>
                    <span @click="controlUserBookBtn" class="topBtn addShoucangBtn"></span>
                </div>
                <div>
                    <div class="wordspelling">
                        <span>{{word.spelling}}</span>
                        <div class="wordOtherInform">
                            <span>
                                <div>词频: {{numFilter(word.frequency)}}</div>
                                <div>难度等级: {{word.difficulty}}/10</div>
                            </span>
                            <span>
                                <div>被搜次数: {{word.searchtimes}}</div>
                                <div>学习人数: {{word.studytimes}}</div>
                            </span>
                        </div>
                    </div>
                    <div class="yinbiao_div">
                        <div class="yinbiao_item_div" id="UK_audio_btn" @click="playAudio($event)">
                            英[{{word.ukphonetic}}]<span class="ying_laba"></span></div>
                        <audio id="UK_audio" preload="metadata" :src="audio_type1"></audio>
                        <div class="yinbiao_item_div" id="USA_audio_btn" @click="playAudio($event)">
                            美[{{word.usphonetic}}]
                            <span class="ying_laba"></span></div>
                        <audio id="USA_audio" preload="metadata" :src="audio_type2"></audio>
                    </div>
                    <div style="display: flex">
                        <div style="width: 100%;">
                            <div class="wordParaphraseDiv">
                                <h3 style="color: var(--greenColor00e57b)">释义</h3>
                                <div style="user-select: text">{{word.paraphrase}}</div>
                                <div class="otherVocDiv">
                                    <span>其他词典</span>
                                    <a :href="bingHref" target="_blank" title="必应词典">
                                        <div class="otherVocItem"><img src="image/pageWordDetail/bingLogo.png" alt="">
                                        </div>
                                    </a>
                                    <a :href="jianqiaoHref " target="_blank" title="剑桥词典">
                                        <div class="otherVocItem"><img src="image/pageWordDetail/jianqiaoLogo.png"
                                                                       alt="">
                                        </div>
                                    </a>
                                    <a :href="ouluHref " target="_blank" title="欧陆词典">
                                        <div class="otherVocItem"><img src="image/pageWordDetail/ouluLogo.png" alt="">
                                        </div>
                                    </a>
                                    <a :href="youdaoHref" target="_blank" title="有道词典">
                                        <div class="otherVocItem"><img src="image/pageWordDetail/youdaoLogo.png" alt="">
                                        </div>
                                    </a>
                                    <a :href="jinshanHref " target="_blank" title="金山词典">
                                        <div class="otherVocItem"><img src="image/pageWordDetail/jinshanLogo.png"
                                                                       alt="">
                                        </div>
                                    </a>
                                    <a :href="baiduHref " target="_blank" title="百度词典">
                                        <div class="otherVocItem"><img src="image/pageWordDetail/baiduLogo.png" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="wordExamplesDiv">
                                <div class="liju_title_div">
                                    <h3 style="color: var(--greenColor00e57b)">例句</h3>
                                    <span @click="controlExampleBtn()"></span>
                                </div>
                                <div v-for="(item,index) in exampleList.slice(0, 7)" class="exampleItemDiv">
                                    <div v-html="highLightWord(item.en)">{{item.en}}</div>
                                    <div>{{item.cn}}</div>
                                </div>
                            </div>
                        </div>
                        <div style="width: 550px;padding-left: 20px">
                            <div class="word_detail_statistic">
                                <span></span>
                                <h3>我的学习情况</h3>
                            </div>
                            <div v-if="studyWord.length!==0">
                                <div style="width: auto">
                                    <h4 style="padding: 0;margin: 0;color: whitesmoke">学习标签</h4>
                                    <div class="study_word_information">
                                        <div style="display: flex" v-if="this.studyWord.state===0">
                                            <span style="background-color: #ff9000;"
                                                  v-if="this.studyWord.intervalday>0">{{this.studyWord.intervalday}}天后复习</span>
                                            <span style="background-color: #00e57b;"
                                                  v-else-if="this.studyWord.intervalday===0">今天复习</span>
                                            <span style="background-color: #ff0000;"
                                                  v-else>逾期{{Math.abs(this.studyWord.intervalday)}}天</span>
                                        </div>
                                        <div style="display: flex" v-else-if="this.studyWord.state===1">
                                            <span style="background-color: #00e57b;">熟知单词</span>
                                        </div>
                                        <span style="background-color: #50a7ff;">共学习{{studyWord.studycount}}天</span>
                                        <span style="background-color: #50a7ff;">{{studyWord.adddate}}加入计划</span>
                                        <span v-if="studyWord.laststudydate!==null" style="background-color: #50a7ff;">上次复习{{studyWord.laststudydate}}</span>
                                    </div>
                                </div>
                                <!--                            <div style="color: #c5c5c5;padding-left: 20px;font-size: 15px">该单词未在学习计划</div>-->
                                <div id="word_detail_statistic_tiaoxing"
                                     style="width: 98%;height: 400px;padding: 10px 0 10px 0;"></div>
                                <div style="width: auto;margin-top: -30px;border-top: 1px #4f4f4f solid;padding-top: 10px">
                                    <h4 style="padding: 0;margin: 0;color: whitesmoke">记忆历史</h4>
                                    <div v-if="studyWordRememberHistory.length!==0">
                                        <h4 style="padding: 0;margin: 0;color: #adadad">
                                            {{studyWordRememberHistory[0].selectdate}}至{{studyWordRememberHistory[studyWordRememberHistory.length - 1].selectdate}}|记忆{{studyWordRememberHistory.length}}次</h4>
                                        <div class="study_word_history">
                                            <div v-for="(item,index) in studyWordRememberHistory" style="display: flex">
                                                <span v-if="item.opt===0" style="background-color: #ff0000">茫无所知</span>
                                                <span v-if="item.opt===1"
                                                      style="background-color: #ff9000">模模糊糊</span>
                                                <span v-if="item.opt===2" style="background-color: #50a7ff">恍然大悟</span>
                                                <span v-if="item.opt===3" style="background-color: #00e57b">了如指掌</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-top: 5px;color: #b7b7b7" v-else>数据太少，复习几天再来看看吧。
                                    </div>

                                </div>
                            </div>
                            <div v-else style="color: #c2c2c2;font-size: 0.9em;padding-top: 10px;">
                                该单词未在你的学习计划中，没有任何学习数据。
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    new Vue({
        el: "#wordDetailApp",
        data: {
            control_userbook_div_state: false,
            messageBoxContent: "",   //弹出框消息
            messageBoxValue: null,  //弹出框选择的值
            userid: '',
            word: [],
            exampleList: [],   //单词详细页面例句数据
            cardExampleList: [],  //显示所有例句卡数据
            audio_type1: '',  //英英
            audio_type2: '',   //美英
            bingHref: '',  //其他词典路径
            jinshanHref: '',
            youdaoHref: '',
            baiduHref: '',
            jianqiaoHref: '',
            ouluHref: '',
            wordid: '',
            control_example_div_state: false,  //控制所有例句卡的显示与关闭
            heatSortState: false, //true正序 FALSE倒叙
            dateSortState: true, //true正序 FALSE倒叙
            allOrUpdateStatus: true, //true为显示,false为添加或编辑
            updateStatus: 0,  //控制例句操作按钮  值为 0：显示，1：添加，2：编辑
            all_add_detail_userbook: 0,  //0为所有书籍，1为添加书籍，2为书籍详情
            en: '',
            cn: '',
            editExampleId: null,   //编辑的例句id
            alreadyDddStates: false,  //是否成功添加过例句
            alreadyEditStatus: false,  //是否编辑过
            alreadyUserBookUpdate: false,  //是否更改过自定义词典
            alMyUserBooks: [],
            public_privacy_status: 0,  //书籍属性
            userbookname: '',  //书名
            bookdescribe: '',  //简介
            theUserBookDetail: [],      //书籍详情
            theUserBookOfAllWords: [],   //书籍的所有单词
            studyWord: [],
            studyWordRememberHistory: [],


        },
        created() {
            this.fetchWordId();
            this.fetchWordDetail();
            this.fetchExamples();
            this.fetchUserId();
            this.fetchMyStudyInfor()

        },
        methods: {
            highLightWord(text) {
                if (text.includes(this.word.spelling)) {
                    text = text.replace(
                        this.word.spelling,
                        // 这里是替换成html格式的数据，最好再加一个样式权重，保险一点
                        '<span style="color:#00e57b!important;">' + this.word.spelling + '</span>'
                    )
                    return text
                } else {
                    return text
                }
            },
            async fetchStudyWordRememberHistory() {
                let _this = this
                await axios({
                    method: 'get',
                    url: 'search/getStudyWordRememberHistory?wordid=' + _this.wordid,
                }).then(function (data) {
                    _this.studyWordRememberHistory = data.data
                })
                this.studyWordRememberHistory.sort((a, b) => _this.getTimeDate(a.selectdate) - _this.getTimeDate(b.selectdate));
            },
            async fetchMyStudyInfor() {
                let _this = this
                await axios({
                    method: 'get',
                    url: 'search/getStudyWordInformation?wordid=' + _this.wordid,
                }).then(function (data) {
                    _this.studyWord = data.data
                })
                if (_this.studyWord.length !== 0) {
                    this.studyWord.intervalday = this.datedifference(this.getNowDate(), this.studyWord.nextstudydate);
                    await this.fetchStudyWordRememberHistory()
                    this.renderChart()
                }
            },
            /*设置熟知*/
             setStudyWordState(v) {
                let _this = this
                axios({
                    method: 'post',
                    url: 'update/setStudyWordState?state=' + v + '&wordid=' + _this.wordid
                }).then(function (data) {
                    if (data.data === true) {
                        _this.fetchMyStudyInfor()
                        if (v===1)
                            NotificationVue.showPublicNotification("success", "已将该单词标记为熟知单词。");
                        if (v===0)
                            NotificationVue.showPublicNotification("success", "已将该单词从熟知单词删除。");
                    } else {
                        NotificationVue.showPublicNotification("error", "发生未知错误。");
                    }
                })
            },
            /*标记熟知按钮*/
            alreadyKnownBtn(v) {
                if (v === 1) {
                    MessageBoxVue.openMessageBox("标记熟知后，该词将不会安排再次复习。");
                } else {
                    MessageBoxVue.openMessageBox("取消标记熟知后，单词将按照原规划时间复习。");
                }
                let r = new Promise((resolve) => {
                    let timer = setInterval(() => {   //定时器
                        let messageBoxConfirmValue = window.sessionStorage.getItem("messageBoxConfirmValue")
                        if (messageBoxConfirmValue !== "null") {
                            clearInterval(timer)
                            resolve(messageBoxConfirmValue)
                        }
                    }, 100)
                })
                r.then((res) => {
                    if (res === "true") {
                        this.setStudyWordState(v)
                    }
                })


            },
            /*学习计划按钮*/
            studyWordPlanningBtn(v) {
                if (v === 0) { //加入计划
                    this.addStudyWord()
                } else { //移除计划
                    MessageBoxVue.openMessageBox("移除学习规划将删除你学习该单词的所有学习数据，且此操作不可逆，请慎重考虑!");
                    let r = new Promise((resolve) => {
                        let timer = setInterval(() => {   //定时器
                            let messageBoxConfirmValue = window.sessionStorage.getItem("messageBoxConfirmValue")
                            if (messageBoxConfirmValue !== "null") {
                                clearInterval(timer)
                                resolve(messageBoxConfirmValue)
                            }
                        }, 100)
                    })
                    r.then(async (res) => {
                        if (res === "true") {  //删除
                            this.deleteStudyWord()
                        }
                    })

                }
            },
            /*加入学习计划axios*/
            addStudyWord() {
                let _this = this
                axios({
                    method: 'post',
                    url: 'update/addStudyWord?wordid=' + _this.wordid,
                }).then(function (data) {
                    if (data.data === true) {
                        NotificationVue.showPublicNotification("success", "添加成功。")
                        _this.fetchMyStudyInfor()
                    } else {
                        NotificationVue.showPublicNotification("error", "发生未知错误，添加失败。")
                    }
                })
            },
            deleteStudyWord() {
                let _this = this
                axios({
                    method: 'post',
                    url: 'update/deleteTheStudyWord?wordid=' + _this.wordid,
                }).then(function (data) {
                    if (data.data === true) {
                        NotificationVue.showPublicNotification("success", "移除成功。")
                        _this.fetchMyStudyInfor()
                    } else {
                        NotificationVue.showPublicNotification("error", "发生未知错误，添加失败。")
                    }
                })
            },
            /*图表*/
            renderChart() {
                let _this = this
                // 基于准备好的dom，初始化echarts实例
                const myChart = echarts.init(document.getElementById('word_detail_statistic_tiaoxing'));
                // 指定图表的配置项和数据
                const option = {
                    tooltip: {},
                    title: {
                        text: '该单词学习反馈统计',
                        textStyle: {
                            color: '#ffffff',  //更改坐标轴文字颜色
                            fontSize: 15      //更改坐标轴文字大小
                        }
                    },
                    xAxis: {
                        data: ['茫无所知', '模模糊糊', '恍然大悟', '了如指掌'],
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#ffffff',  //更改坐标轴文字颜色
                                fontSize: 12      //更改坐标轴文字大小
                            }
                        }
                    },
                    yAxis: {
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#ffffff',  //更改坐标轴文字颜色
                                fontSize: 13      //更改坐标轴文字大小
                            }
                        }
                    },
                    series: [
                        {
                            name: '次数',
                            type: 'bar',
                            data: [
                                {
                                    value: _this.studyWord.q_0,
                                    // 设置单个柱子的样式
                                    itemStyle: {
                                        color: '#ff0000',
                                    }
                                },
                                {
                                    value: _this.studyWord.q_1,
                                    // 设置单个柱子的样式
                                    itemStyle: {
                                        color: '#ff9000',
                                    }
                                },
                                {
                                    value: _this.studyWord.q_2,
                                    // 设置单个柱子的样式

                                    itemStyle: {
                                        color: '#50a7ff',
                                    }
                                },
                                {
                                    value: _this.studyWord.q_3,
                                    // 设置单个柱子的样式
                                    itemStyle: {
                                        color: '#00e57b',
                                    }
                                },
                            ]
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            },
            /*跳转到单词详情*/
            async theWordDetail(wordid) {
                sessionStorage.setItem("wordid", wordid);
                sessionStorage.setItem("backFromWordDetailPageValue", "page_WordDetail");
                await axios({
                    method: 'post',
                    url: 'update/addSearchTimes?wordid=' + wordid,
                })
                window.location.assign('wordDetailPage?wordid=' + wordid);
            },
            /*从书籍删除该单词按钮*/
            deleteTheWordFormUserBookBtn(wordid, bookid) {
                MessageBoxVue.openMessageBox("你确定要将这个单词从这个词库删除吗？")
                let r = new Promise((resolve) => {
                    let timer = setInterval(() => {   //定时器
                        let messageBoxConfirmValue = window.sessionStorage.getItem("messageBoxConfirmValue")
                        if (messageBoxConfirmValue !== "null") {
                            clearInterval(timer)
                            resolve(messageBoxConfirmValue)
                        }
                    }, 100)
                })
                r.then(async (res) => {
                    if (res === "true") {  //删除例句
                        let v = await this.deleteTheWordFromUserBookAxios(wordid, bookid)
                        if (v) {
                            await this.getTheUserBookOfWords(bookid);
                            NotificationVue.showPublicNotification("success", "删除成功。")
                        } else {
                            NotificationVue.showPublicNotification("error", "发生位置错误，删除失败。")
                        }
                    }
                })

            },
            /*从书籍删除该单词axios*/
            async deleteTheWordFromUserBookAxios(wordid, bookid) {
                let result;
                await axios({
                    method: 'post',
                    url: "update/deleteWordFromUserBookMapper?wordid=" + wordid + "&bookid=" + bookid
                }).then(function (data) {
                    result = data.data
                });
                return result
            },
            /*跳转词库详情按钮*/
            async theUserBookDetailBtn(userbookid) {
                await this.getTheUserBookOfWords(userbookid);
                this.theUserBookDetail = this.alMyUserBooks.find(item => item.userbookid === userbookid);
                this.all_add_detail_userbook = 2
            },
            /*获取某词库的单词*/
            getTheUserBookOfWords(bookid) {
                const _this = this
                axios({
                    method: 'get',
                    url: "search/getUserBookOfAllWords?bookid=" + bookid
                }).then(function (data) {
                    _this.theUserBookOfAllWords = data.data
                });
            },
            /*加入该词到词库*/
            async addWordToUserBookBtn(userbookid) {
                const _this = this
                let value = false;
                await axios({
                    method: 'get',
                    url: "search/judgeTheWordInTheBook?wordid=" + _this.wordid + "&bookid=" + userbookid
                }).then(function (data) {
                    value = data.data
                });
                if (value == false) {
                    axios({
                        method: 'post',
                        url: "update/addWordToUserBook?wordid=" + _this.wordid + "&userbookid=" + userbookid
                    }).then(function (data) {
                        if (data.data = true)
                            NotificationVue.showPublicNotification("success", "添加成功！")
                        else
                            NotificationVue.showPublicNotification("success", "添加失败！")
                    });
                } else {
                    NotificationVue.showPublicNotification("error", "该单词已在这个词库里！")
                }

            },
            /*双开关按钮 私密或者公开*/
            switchBtn(v) {
                const switchBtnStatus_0 = document.getElementById("switchBtnStatus_0");
                const switchBtnStatus_1 = document.getElementById("switchBtnStatus_1");
                if (v !== this.public_privacy_status) {
                    if (v === 0) {
                        switchBtnStatus_0.classList.add("switch_btn_active")
                        switchBtnStatus_1.classList.remove("switch_btn_active")
                        this.public_privacy_status = 0
                    }
                    if (v === 1) {
                        switchBtnStatus_0.classList.remove("switch_btn_active")
                        switchBtnStatus_1.classList.add("switch_btn_active")
                        this.public_privacy_status = 1
                    }
                }
            },

            /*确认添加书籍按钮axios*/
            async addUserBookConfirmBtn() {
                const _this = this;
                await axios({
                    method: 'post',
                    url: "update/addUserBook?holderid=" + _this.userid + "&userbookname=" + _this.userbookname + "&bookdescribe=" + _this.bookdescribe + "&share=" + _this.public_privacy_status
                }).then(function (data) {
                    if (data.data === "NoUserBookName")
                        NotificationVue.showPublicNotification("error", "请填写词库名称。");
                    if (data.data === false)
                        NotificationVue.showPublicNotification("error", "发生未知错误，请稍后再试。")
                    if (data.data === true) {
                        NotificationVue.showPublicNotification("success", "添加成功")
                    }
                });
                _this.public_privacy_status = 0  //书籍属性
                _this.userbookname = ''  //书名
                _this.bookdescribe = ''  //简介
                _this.alreadyUserBookUpdate = true
            },
            sortFun(s) {
                const heat_span = document.getElementById("heat_span")
                const date_span = document.getElementById("date_span")
                if (s === 1) {
                    date_span.classList.remove("sort_span_focus")
                    heat_span.classList.add("sort_span_focus")
                    if (this.heatSortState) {
                        this.cardExampleList.sort((a, b) => b.heat - a.heat);
                        this.heatSortState = false
                    } else {
                        this.cardExampleList.sort((a, b) => a.heat - b.heat);
                        this.heatSortState = true
                    }
                }
                if (s === 2) {
                    heat_span.classList.remove("sort_span_focus")
                    date_span.classList.add("sort_span_focus")
                    if (this.dateSortState) {
                        this.cardExampleList.sort((a, b) => this.getTimeDate(b.adddate) - this.getTimeDate(a.adddate));
                        this.dateSortState = false
                    } else {
                        this.cardExampleList.sort((a, b) => this.getTimeDate(a.adddate) - this.getTimeDate(b.adddate));
                        this.dateSortState = true
                    }
                }

            },
            /*显示我的所有云词本*/
            showMyUserBook() {
                const _this = this;
                axios({
                    method: 'get',
                    url: "search/allMyUserBooks?holderid=" + _this.userid
                }).then(function (data) {
                    _this.alMyUserBooks = data.data;
                });
            },
            /*添加云词库按钮*/
            addUserbookBtn() {
                this.all_add_detail_userbook = 1
            },
            /*自定义书籍返回按钮*/
            async userBookBackBtn() {
                if (this.alreadyUserBookUpdate) {
                    await this.showMyUserBook()
                    this.alreadyUserBookUpdate = false
                }
                this.all_add_detail_userbook = 0
                this.theUserBookOfAllWords = []

            },
            /*自定义书籍卡打开关闭按钮*/
            async controlUserBookBtn() {
                if (!this.control_userbook_div_state) {
                    await this.showMyUserBook()
                    this.all_add_detail_userbook = 0
                    this.control_userbook_div_state = true
                } else
                    this.control_userbook_div_state = false
            },
            /*public弹窗弹出*/
            showMessageBox(content) {
                this.messageBoxValue = null
                this.messageBoxContent = content
                // this.functionName = functionName
                let messageBox = document.getElementById("messageBox");
                let MessageBoxDiv = document.getElementById("MessageBoxDiv");
                MessageBoxDiv.style.display = "flex"
                messageBox.style.marginTop = "20px";
            },
            /*public确认还是取消按钮并关闭弹窗*/
            confirmValueBtn(v) {
                this.messageBoxValue = v
                //关闭弹窗
                let messageBox = document.getElementById("messageBox");
                let MessageBoxDiv = document.getElementById("MessageBoxDiv");
                MessageBoxDiv.style.display = "none"
                messageBox.style.marginTop = "-200px";
            },
            /*public确认是否删除例句*/
            async deleteExampleOrNot(exapid) {
                MessageBoxVue.openMessageBox("你确定要删除这个例句吗？")
                let r = new Promise((resolve) => {
                    let timer = setInterval(() => {   //定时器
                        let messageBoxConfirmValue = window.sessionStorage.getItem("messageBoxConfirmValue")
                        if (messageBoxConfirmValue !== "null") {
                            clearInterval(timer)
                            resolve(messageBoxConfirmValue)
                        }
                    }, 100)
                })
                r.then((res) => {
                    if (res === "true") {  //删除例句
                        this.deleteExample(exapid)
                    }
                })
            },
            /*删除例句*/
            async deleteExample(exapid) {
                await axios({
                    method: "post",
                    url: "update/deleteExample?exapid=" + exapid
                }).then(function (data) {
                    if (data.data)
                        NotificationVue.showPublicNotification("success", "删除成功。");
                    else
                        NotificationVue.showPublicNotification("error", "发生错误，删除失败，请稍后再试。");
                })
                this.freshExample();
            },

            /*编辑例句按钮*/
            editExampleBtn(exapid, en, cn) {
                this.en = en
                this.cn = cn
                this.editExampleId = exapid
                this.allOrUpdateStatus = false  //切换为编辑页面
                this.updateStatus = 2  //切换为编辑状态
            },
            //执行编辑
            async editExample() {
                const en = this.en
                const cn = this.cn
                const exapid = this.editExampleId
                const _this = this
                await axios({
                    method: 'post',
                    url: "update/editExample?exapid=" + exapid + "&en=" + en + "&cn=" + cn + "&wordid=" + this.wordid
                }).then(function (data) {
                    if (data.data === 'noen')
                        NotificationVue.showPublicNotification("error", "请填写该单词的英文例句。");
                    if (data.data === 'nocn')
                        NotificationVue.showPublicNotification("error", "请填写该例句的中文翻译。");
                    if (data.data === 'noword')
                        NotificationVue.showPublicNotification("error", "你填写的英文例句里没有这个单词，请修改英文例句。");
                    if (data.data === true) {
                        NotificationVue.showPublicNotification("success", "例句修改成功。");
                        _this.alreadyEditStatus = true
                    }
                    if (data.data === false) {
                        NotificationVue.showPublicNotification("error", "哎呀，发生了未知错误。");
                    }
                });
            },
            freshExample() {
                const _this = this;
                axios({
                    method: 'get',
                    url: "search/findExamplesByWordId?wordid=" + _this.wordid
                }).then(function (data) {
                    _this.cardExampleList = data.data;
                    _this.cardExampleList.sort((a, b) => b.heat - a.heat);   //递减排
                    _this.heatSortState = false
                });
            },
            fetchUserId() {
                const _this = this;
                axios({
                    method: "get",
                    url: "search/getUserId"
                }).then(function (data) {
                    _this.userid = data.data
                })
            },
            /*添加例句按钮*/
            addExampleBtn() {
                this.allOrUpdateStatus = false
                this.updateStatus = 1
            },
            addExample(wordid) {
                const _this = this
                axios({
                    method: 'post',
                    url: "update/addExample?wordid=" + wordid + "&en=" + this.en + "&cn=" + this.cn
                }).then(function (data) {
                    if (data.data === 'noen')
                        NotificationVue.showPublicNotification("error", "请填写该单词的英文例句。");
                    if (data.data === 'nocn')
                        NotificationVue.showPublicNotification("error", "请填写该例句的中文翻译。");
                    if (data.data === 'noword')
                        NotificationVue.showPublicNotification("error", "你填写的英文例句里没有这个单词，请修改英文例句。");
                    if (data.data === true) {
                        NotificationVue.showPublicNotification("success", "例句添加成功。");
                        _this.en = '';
                        _this.cn = '';
                        _this.alreadyDddStates = true
                    }
                    if (data.data === false) {
                        NotificationVue.showPublicNotification("error", "哎呀，发生了未知错误。");
                    }
                });

            },
            /*控制添加或者显示选项卡*/
            async allExampleBtn() {
                if (this.alreadyDddStates || this.alreadyEditStatus) {  //成功编辑过或添加过则刷新例句
                    await this.freshExample()   //刷新例句
                }
                this.alreadyDddStates = false  //还原值
                this.alreadyEditStatus = false
                this.allOrUpdateStatus = true  //切换为显示页面
                this.updateStatus = 0  //切换为显示状态
                this.en = ''  //清空编辑值
                this.cn = ''
                this.editExampleId = null
            },
            heatBtn(exapid) {
                const itemToRemove = this.cardExampleList.find(item => item.exapid === exapid);
                itemToRemove.heat = itemToRemove.heat + 1
                axios({
                    method: 'get',
                    url: "update/addHeat?heat=" + itemToRemove.heat + "&exapid=" + exapid
                }).then(function (data) {
                    if (data.data)
                        NotificationVue.showPublicNotification("success", "成功为该例句增加热度。");
                    else
                        NotificationVue.showPublicNotification("error", "出现错误。");
                });

            },

            fetchWordId() {
                const _this = this;
                _this.wordid = sessionStorage.getItem("wordid");
                // console.log(_this.wordid)
            },
            fetchWordDetail() {
                const _this = this;
                axios({
                    method: "get",
                    url: "search/searchWordById?wordid=" + _this.wordid,
                }).then(function (data) {
                    _this.word = data.data
                    _this.audio_type1 = "http://dict.youdao.com/dictvoice?type=1&audio=" + _this.word.spelling;
                    _this.audio_type2 = "http://dict.youdao.com/dictvoice?type=2&audio=" + _this.word.spelling;
                    _this.bingHref = "https://www.bing.com/dict/search?q=" + _this.word.spelling;
                    _this.youdaoHref = "https://dict.youdao.com/result?word=" + _this.word.spelling + "&lang=en";
                    _this.jinshanHref = "https://www.iciba.com/word?w=" + _this.word.spelling;
                    _this.baiduHref = "https://fanyi.baidu.com/#en/zh/" + _this.word.spelling;
                    _this.jianqiaoHref = "https://dictionary.cambridge.org/zhs/%E8%AF%8D%E5%85%B8/%E8%8B%B1%E8%AF%AD-%E6%B1%89%E8%AF%AD-%E7%AE%80%E4%BD%93/" + _this.word.spelling;
                    _this.ouluHref = "https://dict.eudic.net/dicts/en/" + _this.word.spelling;
                })
            },
            fetchExamples() {
                const _this = this;
                axios({
                    method: 'get',
                    url: "search/findExamplesByWordId?wordid=" + _this.wordid
                }).then(function (data) {
                    _this.exampleList = data.data;

                });
            },
            playAudio(a) {
                const UK_audio = document.getElementById("UK_audio");
                const USA_audio = document.getElementById("USA_audio");
                var id = a.currentTarget.id;
                if (id == "UK_audio_btn") {
                    // USA_audio.pause()
                    UK_audio.play()
                }
                if (id == "USA_audio_btn") {
                    // UK_audio.pause()
                    USA_audio.play()
                }

            },
            backBtn() {
                let item = sessionStorage.getItem("backFromWordDetailPageValue");
                if (item === "index_02_cha")
                    window.location.assign('searchWordPage')
                else{
                    sessionStorage.removeItem("backFromWordDetailPageValue")
                    window.history.back();
                }

            },
            numFilter(value) {
                if (value !== 0)
                    return Number(value).toFixed(5);
                else
                    return 0;
            },
            async controlExampleBtn() {
                if (!this.control_example_div_state) {
                    const _this = this;
                    await axios({
                        method: 'get',
                        url: "search/findExamplesByWordId?wordid=" + _this.wordid
                    }).then(function (data) {
                        _this.cardExampleList = data.data;
                        _this.cardExampleList.sort((a, b) => b.heat - a.heat);
                        _this.heatSortState = false
                    });
                    this.control_example_div_state = true
                } else {
                    this.control_example_div_state = false //关闭例句div
                }
            },
            /*时间转换*/
            getTimeDate(date) {
                return new Date(date).getTime();
            },
            //获取日期
            getNowDate() {
                let date = new Date()
                return (date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()).toString()
            },
            //计算两个日期差值（天）
            datedifference(sDate1, sDate2) {    //sDate1现在的时间  sDate2下次时间
                let dateSpan, tempDate, iDays
                sDate1 = Date.parse(sDate1)
                sDate2 = Date.parse(sDate2)
                dateSpan = sDate2 - sDate1
                iDays = Math.floor(dateSpan / (24 * 3600 * 1000))
                return iDays
            },


        },


    })

    /*消息vue*/
    const NotificationVue = new Vue({
        el: "#notification",
        data: {
            no_content: '',
            no_type: '',   //error，message消息，warn警告,success成功
            timer: null,
            spantype: {
                error: {
                    value: '失败',
                    src: 'image/public_notification/error.png'
                },
                message: {
                    value: '消息',
                    src: 'image/public_notification/message.png'
                },
                success: {
                    value: '成功',
                    src: 'image/public_notification/success.png'
                },
                warn: {
                    value: '警告',
                    src: 'image/public_notification/warn.png'
                },
            }
        },
        methods: {
            showPublicNotification(type, content) {
                if (this.timer) { //计时器已经存在则销毁
                    clearTimeout(this.timer)
                    this.timer = null
                }
                const id = document.getElementById("notification")
                id.style.right = "30px";
                this.no_content = content
                this.no_type = type
                this.timer = setTimeout(() => {
                    this.no_content = ''
                    this.no_type = ''
                    id.style.right = "-300px"
                }, 3000)
            }
        },
    })
    /*弹窗*/
    const MessageBoxVue = new Vue({
        el: "#MessageBoxContent",
        data: {
            messageBoxQuestion: "",
            borderFramesValue: false
        },
        methods: {
            /*public确认还是取消按钮并关闭弹窗*/
            messageBoxConfirmBtn(v) {
                // console.log("v="+v)
                window.sessionStorage.setItem("messageBoxConfirmValue", v);
                //关闭弹窗
                // let messageBox = document.getElementById("messageBox");
                let MessageBoxContent = document.getElementById("MessageBoxContent");
                MessageBoxContent.style.display = "none"
                // messageBox.style.marginTop = "-200px";
                let m = function (e) {
                    e.preventDefault();
                };
                document.body.style.overflow = '';
                document.addEventListener('touchmove', m, {passive: true});//禁止页面滑动
                // console.log(window.sessionStorage.getItem("messageBoxConfirmValue")==="true")
            },
            /*打开弹窗 其他vue实例使用*/
            openMessageBox(content) {
                let m = function (e) {
                    e.preventDefault();
                };
                document.body.style.overflow = 'hidden';
                document.addEventListener('touchmove', m, {passive: false});//禁止页面滑动
                sessionStorage.setItem("messageBoxConfirmValue", "null");
                this.messageBoxQuestion = content
                // this.functionName = functionName
                // let messageBox = document.getElementById("messageBox");
                let MessageBoxContent = document.getElementById("MessageBoxContent");
                MessageBoxContent.style.display = "flex"
                // messageBox.style.marginTop = "20px";
            },
            tipEffection() {
                this.borderFramesValue = true
            },
            tipEffectionEnd() {
                this.borderFramesValue = false
            },
        }
    })

</script>


</body>
</html>