.wordDetailDivCon {
    user-select: none;
    width: 100%;
    /*border: 1px #d7d7d7 solid;*/
    padding-top: 30px;
    margin-top: -30px;
    padding-bottom: 40px;
}

.backBtn {
    user-select: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #3b3b3b;
    display: flex;
    position: fixed;
    justify-content: center;
    line-height: 50px;
    /*position:fixed;*/
    color: white;
    transition: all 0.3s;
    font-weight: 700;
    margin-left: -70px;
    /*margin-top: -10px;*/
}

.backBtn:hover {
    color: var(--greenColor00e57b);
}

.add_word_plan_span {
    margin-left: 10px;
    padding: 0 5px 0 5px;
    color: #dedede;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px red solid;*/
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #858585;
    height: 40px;
    transition: all 0.2s;
}

.add_word_plan_span:hover {
    color: #00e57b;
}

.topBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    /*border: 1px red solid;*/
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #858585;
    /*padding: 5px;*/
    width: 40px;
    height: 40px;
    /*padding: 10px;*/
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    transition: all 0.2s;
    margin-left: 20px;
}

.topBtn:active {
    box-shadow: 0 0 4px 1px #4f4f4f;
}

.jiyiBtn {
    background-image: url("../image/pageWordDetail/jiyi.png");
}

.jiyiBtn:hover {
    background-image: url("../image/pageWordDetail/jiyi_green.png");
}

.addShoucangBtn {
    background-image: url("../image/pageWordDetail/shoucang.png");
}

.addShoucangBtn:hover {
    background-image: url("../image/pageWordDetail/shoucang_green.png");
}

.topControlDiv {
    box-shadow: 0 3px 5px 3px #1a1a1a;
    z-index: 99;
    /*padding-top: 50px;*/
    /*border: 1px red solid;*/
    position: sticky;
    padding-top: 10px;
    top: 60px;
    display: flex;
    justify-content: right;
    width: 100%;
    /*padding: 10px;*/
    padding-bottom: 10px;
    background-color: var(--blackBackgroung);
    /*z-index: 100;*/
    border-bottom: 1px var(--divBorderColor) solid;
    /*justify-content: center;*/
}

.wordspelling {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wordspelling > span {
    user-select: text;
    color: white;
    font-family: Arial, serif;
    font-weight: 800;
    font-size: 3em;
    display: block;
}

.yinbiao_div {
    display: flex;
}

.yinbiao_item_div {
    cursor: pointer;
    display: flex;
    /*justify-content: center;*/
    /*text-align: center;*/
    margin-right: 10px;
    color: #d7d7d7;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.2s;
}

.yinbiao_item_div:hover {
    color: #ffffff;
}

.yinbiao_item_div:hover .ying_laba {
    background-image: url("../image/pageWordDetail/laba_hover.png");
}

.ying_laba {
    margin: auto;
    width: 20px;
    height: 20px;
    /*background-size:10px 10px;*/
    background-image: url("../image/pageWordDetail/laba.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.wordParaphraseDiv {
    padding-top: 30px;
    color: whitesmoke;
}

.otherVocDiv {
    padding-top: 20px;
    width: auto;
    display: flex;
    justify-content: left;
}

.otherVocDiv a {
    margin-left: 10px;
    /*border: 1px red solid;*/
    /*margin: 0;*/
    padding: 0;
}

.otherVocItem {
    width: auto;
    height: 20px;
}

.otherVocItem > img {
    height: 100%;

}

.wordOtherInform {
    /*position: absolute;*/
    /*padding-top: 10px;*/
    /*display: flex;*/
    padding-top: 10px;
    /*margin: auto;*/
    height: 100%;
    color: var(--normalTextColor);
}

.wordOtherInform span {
    margin-left: 20px;
    display: inline-block;
}

.wordExamplesDiv {
    user-select: none;
    padding-top: 30px;
}

.exampleItemDiv {
    user-select: text;
    margin-bottom: 15px;
    color: var(--normalTextColor);
}

.liju_title_div {
    display: flex;
    height: auto;
    padding-bottom: 10px;
}

.liju_title_div > h3 {
    margin: 0;
    padding: 0;
}

.liju_title_div > span {
    background-image: url("../image/pageWordDetail/exanplelist.png");
    cursor: pointer;
    margin-left: 10px;
    height: auto;
    width: 30px;
    background-repeat: no-repeat;
    background-size: 25px 100%;
    padding: 0;
    transition: all 0.3s;
    /*margin: 0;*/
}

.liju_title_div > span:hover {
    background-image: url("../image/pageWordDetail/examplelist_hover.png");
}

.tittle_sort_div {
    background-color: #1e1e1e;
    z-index: 10;
    width: 500px;
    /*padding-right: 10px;*/
    position: fixed;
}

.tittle_div {
    border-bottom: 1px solid #7e7e7e;
    color: var(--normalTextColor);
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    /*justify-content: space-between;*/
    text-align: center;
    height: 30px;
    /*border: 1px red solid;*/
}


.sort_div {
    width: auto;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.45); /* 下边框阴影 */
}


.control_example_div {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}

.control_example_content_div {
    user-select: none;
    overflow: auto;
    z-index: 12;
    width: 500px;
    height: 90%;
    min-height: 520px;
    background-color: #1e1e1e;
    border-radius: 5px;
    margin: auto;
}

.control_example_content_div::-webkit-scrollbar {
    height: 100%;
    width: 3px;
    /*color: #00e57b;*/
    background-color: #969696;
}

.control_example_content_div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #00e57b;
}

.close_div_btn {
    cursor: pointer;
    width: 30px;
    height: 30px;

    margin-right: 10px;
    background-position: center;
    background-image: url("../image/pageWordDetail/close_btn.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;

}

.close_div_btn:hover {
    background-color: red;
    background-image: url("../image/pageWordDetail/close_btn_hover.png");
}

.tittle_span {
    color: var(--greenColor00e57b);
    font-size: 1.2em;
    line-height: 30px;
    height: 30px;
    width: 100%;
}

.all_example_list {
    height: 80%;
    padding: 10px;
    padding-top: 100px;

    color: var(--normalTextColor);
}

.add_example_list {
    height: 80%;
    padding: 10px;
    padding-top: 100px;
}

.add_example_list div {
    color: #b4b4b4;
    font-weight: 700;
}

.add_textarea {
    margin-top: 5px;
    width: 97%;
    height: 200px;
    font-family: "Microsoft YaHei UI", serif;
    font-size: 1em;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #7e7e7e;
    resize: none;
    background-color: #262626;
    outline: none;
}

.add_textarea:focus {
    border: 1px solid #00e57b;
}


.add_example_div {
    /*border: 1px red solid;*/
    height: 80%;
    padding: 10px;
    padding-top: 50px;

    color: var(--normalTextColor);
}

.all_example_item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #727272 dashed;
}

.add_example_div {
    width: 500px;
    height: 30px;
    background-color: #00e57b;
    z-index: 10;
    position: absolute;
    bottom: 30px;
}

.example_text {
    user-select: text;
}

.example_info {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.example_info span {
    font-weight: 700;
    font-family: "Microsoft YaHei UI", serif;
    font-size: 13px;
    /*color: #989898;*/
}

.user_operation_div {
    display: flex;
}

.user_operation_div span {
    font-weight: 700;
    font-family: "Microsoft YaHei UI", serif;
    font-size: 13px;
    color: #989898;
}

.user_operation_div span:hover {
    cursor: pointer;
    color: #00e57b;
}

.example_holder {
    color: #0098da;
    /*background-color: #0098da*/
}

.example_heat {
    cursor: pointer;
    display: flex;
    /*text-align: center;*/
    color: red;
}

.example_heat > img {
    width: 20px;
    height: 20px;
    margin-top: -2px;
    /*margin: auto;*/
    padding: 0;
    /*align-items: center;*/
    /*margin: 0 auto;*/

}

.example_adddate {
    color: #fd9300;
}

.backOradd {
    cursor: pointer;
    margin-left: 5px;
    border-radius: 4px;
    padding: 4px;
    width: auto;
    font-size: 0.9em;
    font-weight: 800;
    background-color: #424242;
    color: whitesmoke;
    box-sizing: border-box;
    border: 2px solid #00e57b;
    transition: all 0.2s;
}

.backOradd:hover {
    background-color: #00e57b;
    color: #000000;
}


.userBookItemDiv {
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
    width: auto;
    display: flex;
    justify-content: space-between;
    color: #f1f1f1;

    font-size: 1em;
    border: 1px rgba(0, 0, 0, 0) solid;
}

.userBookItemDiv:hover {
    border: 1px #00e57b solid;
}

.userBookNameDiv {
    display: flex;
}

.userBookItemDiv:hover .userBookNameDiv_child1 {
    background-image: url("../image/pageWordDetail/book_icon_green.png");
}

.userBookItemDiv:hover .userBookNameDiv_child2 {
    color: #00e57b;
}

.userBookNameDiv_child1 {
    transition: all 0.2s;
    width: 30px;
    height: 30px;
    background-image: url("../image/pageWordDetail/book_icon_white.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.userBookNameDiv_child2 {
    color: whitesmoke;
    font-size: 1em;
    line-height: 30px;
    transition: all 0.2s;
}

.addTheWordToCikuBtn {
    cursor: pointer;
    margin-left: 5px;
    border-radius: 4px;
    padding: 4px;
    width: auto;
    font-size: 0.9em;
    font-weight: 800;
    background-color: #424242;
    color: whitesmoke;
    box-sizing: border-box;
    border: 2px solid #00e57b;
    transition: all 0.2s;
}

.addTheWordToCikuBtn:hover {
    background-color: #00e57b;
    color: #000000;
}


.addUserBookDiv {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.addUserBookDiv > label {
    font-weight: 600;
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
}

.addUserBookDiv > input {
    width: 80%;
    padding: 5px;
    background-color: rgba(0, 255, 138, 0);
    outline: 1px solid whitesmoke;
    border-radius: 3px;
    color: whitesmoke;
    font-size: 1em;
    border: none;
}

.addUserBookDiv > input:focus {
    outline: 1px solid #00e57b;
}

.addUserBookDiv_jianjie {
    display: flex;
    padding-top: 10px;
    /*display: flex;*/
}

.addUserBookDiv_jianjie > label {
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
    font-weight: 600;
}

.addUserBookDiv_jianjie > textarea {
    height: 200px;
    width: 80%;
    outline: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 1.3em;
    padding: 5px;
    resize: none;
    background-color: #262626;
    border-radius: 3px;
}

.addUserBookDiv_jianjie > textarea:focus {
    border: 1px solid #00e57b;
}

.double_switch_div {
    display: flex;
    padding-top: 20px;
}

.double_switch_div > label {
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
    font-weight: 600;
}

.double_switch_div_btn {
    width: 100px;
    height: 30px;
    color: whitesmoke;
}

.userbook_detail_tittle_div {
    width: auto;
    font-size: 1em;
    /*margin: auto;*/
    color: #a1a1a1;
    padding-bottom: 10px;
    border-bottom: 2px #4f4f4f solid;
}

.userbook_detail_tittle_div > div {
    padding-top: 5px;
    padding-left: 5px;
}

.the_book_all_words_div {
    height: 80%;
    padding: 10px;
    padding-top: 100px;
}

.all_words_div {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.all_words_div > div {
    display: flex;
    width: auto;
    transition: all 0.2s;
    cursor: pointer;
    margin: 5px;
    padding: 5px;

    border: 1px solid #00e57b;
    border-radius: 3px;
}
.all_words_div_item_span {
    color: #eaeaea;
    font-size: 20px;
}
.all_words_div > div:hover .all_words_div_item_span {
    color: #00e57b;
    transition: all 0.2s;
}
.all_words_div > div:hover {
    color: #00e57b;
}




.word_item_span {
    /*margin-left: 10px;*/
    transition: all 0.2s;
    margin: auto;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../image/pageWordDetail/chacha_white.png");
}

.word_item_span:hover {
    background-image: url("../image/pageWordDetail/chacha_green.png");
}

.word_detail_statistic {
    /*padding-left: 20px;*/
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
}

.word_detail_statistic > span {
    padding-left: 5px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../image/public_icon/statistic/tiaoxing_green.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.word_detail_statistic > h3 {
    color: #00e57b;
    margin: 0;
    /*padding-left: 20px;*/
}
.study_word_history{
    padding-top: 5px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
.study_word_history>div>span{
    margin-bottom: 5px;
    margin-right:5px ;
    color: #ffffff;
    border-radius: 3px;
    /*height: 20px;*/
    padding: 3px;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.study_word_information {
    padding:10px 0 20px 0;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px #4f4f4f solid;
}

.study_word_information  span {
    margin-left: 5px;
    margin-top: 5px;
    color: #000000;
    border-radius: 3px;
    /*height: 20px;*/
    padding: 3px;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}












